@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Arial', sans-serif;
   color:white;
          color:  white !important;
  }

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 20px;
}

section {
  padding: 40px 0;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.about p {
  font-size: 18px;
  text-align: center;
}

.projects .project {
   padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


 

.projects .project a:hover {
  text-decoration: underline;
}

.skills ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skills li {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
}
.heroo{
  width: 50px;
  height: 10px ;
  background-color:#220f2a !important ;
  }
.navbar{
  display: none;
   }
   .hero-h2 ,.hero-h4,.hero-h1,.hero-h3 ,.hero-links,.hero-skills,.hero-project,.menue,.ecommerce,.quran,.todolist,.contact,.h1-contact,.p-contact,.header{
    display: none; /* إخفاء .hero-h4 داخل .hero-h2 */
  }
  
   
.contact p {
  text-align: center;
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 16px;
}
h4::after{
 content: "";
 animation: changeText  alternate  infinite 8s
}
@keyframes changeText {
  0% {
    content: "F|";
  }
  10% {
    content: "Fr|";
  }
  20% {
    content: "Fro|";
  }

  30% {
    content: "Fron|";
  }
  40% {
    content: "Front|";
  }
  50% {
    content: "Fronte|";
  }
  60% {
    content: "Fronten|";
  }
  70% {
    content: "Frontend|";
  }
  75% {
    content: "Frontend D|";
  }
  80% {
    content: "Frontend De|";
  }
  85% {
    content: "Frontend Dev|";
  }
  90% {
    content: "Frontend Deve|";
  }
  92% {
    content: "Frontend Devel|";
  }
  93% {
    content: "Frontend Develo|";
  }
  94% {
    content: "Frontend Develop|";
  }
  95% {
    content: "Frontend Develope|";
  }
  98% {
    content: "Frontend Developer|";
  }
  
}